@page
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment hostingEnv
@using MyServer.Web.Helpers
@using MyServer.Web.Pages.UsersAdmin
@model UsersAdmin.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>
    Hosting environment: @hostingEnv.EnvironmentName
</h1>